page-order {

}

.order-modal {
  // background: rgba(0, 0, 0, 0.5) !important;
  // padding: 20% 10%  !important;
}

.btn {
  // height: inherit !important;
  // width: 100% !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.statusLabel {
  color: #0984e3
}

.full {
  // height: 100% !important;
  // width: 100% !important;
}

.toast {
  // background-color: white !important;
  // border-color: green !important;
}
